body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.select-priority {
  border-radius: 90px;
  width: 14px;
  height: 14px;
  margin: 0 15px 0 15px;
}

.very-high {
  background-color: #e94b5c;
}
.high {
  background-color: #f3a540;
}
.normal {
  background-color: #50a890;
}
.low {
  background-color: #428bc1;
}
.very-low {
  background-color: #8942c1;
}

.to-do-item {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 6px 10px #0000001a;
  padding: 30px 28px;
}

.checkbox-item > input[type="checkbox"] {
  margin-right: 22px;
  width: 20px;
  height: 20px;
}

.item-deleted {
  text-decoration: line-through;
  color: #888888;
}

.btn-sort {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  width: 54px;
  height: 54px;
  margin-right: 24px;
}

.icon-sort {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/icon-sort.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.icon-sort-latest {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/sort-latest.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.icon-sort-oldest {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/sort-oldest.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.icon-sort-a-z {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/sort-a-z.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.icon-sort-z-a {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/sort-z-a.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.icon-sort-unfinished {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/sort-unfinished.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.to-do-sort .dropdown-menu {
  padding: 0;
}

.to-do-sort .dropdown-item {
  padding: 14px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.to-do-sort .list-unstyled {
  margin-bottom: 0;
}

.ant-row .active::after {
  content: url("../assets/img/check.svg");
  position: absolute;
  left: 200px;
  margin-top: 0;
}

.dropdown-menu.show {
  width: 230px;
}

.icon-delete {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/trash.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.icon-delete-modal {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/icon-delete.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 84px;
  height: 84px;
  margin-right: 15px;
}

.information-icon {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/information-icon.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.icon-back-button {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/back-button.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.icon-edit-button {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/edit-button.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  margin-left: 30px;
}

.icon-dropdown {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/img/icon-dropdown.svg");
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  margin-left: 30px;
}
